{%extends "layout.html"%} {%block content%}

{% for message in get_flashed_messages() %}

<div class="alert alert-success alert-dismissible fade show" role="alert">
    {{message}}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>


{% endfor %}

{%include 'pages/page_layout.html'%}
<div class="add_button ml-10">
    <a href="new_book" data-target="new_book" class="btn_1">Add New</a>
</div>
</div>
</div>
<!--/ menu  -->
<div class="QA_table ">
    <!-- table-responsive -->
    <table class="table lms_table_active2">
        <thead>
            <tr>
                
                <th scope="col">BID</th>
                <th scope="col">Name</th>
                <th scope="col">Price</th>
                <th scope="col">genre</th>
                <th scope="col">author</th>
                <th scope="col">Status</th>
            </tr>
        </thead>
        <tbody>
            {% for j in range(books|length) %}
            <tr>
                <th scope="row">
                    <div class="patient_thumb d-flex align-items-center">
                        <div class="student_list_img mr_20">
                            <img src="{{ url_for('static', filename='images/pataint.png')}}" alt="" srcset="">
                        </div>
                        {{books.bid[j]}}
                    </div>
                </th>
                <td>{{books.name[j]}}</td>
                <td>{{books.price[j]}}</td>
                <td>{{books.genre[j]}}</td>
                <td>{{books.author[j]}}</td>

                <td>
                    
                    <div class="amoutn_action d-flex align-items-center">
                        <a href="#" class="status_btn">Active</a>
                        <div class="dropdown ml-4">
                            <a class=" dropdown-toggle hide_pils" href="#" role="button" id="dropdownMenuLink"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-ellipsis-v"></i>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuLink">
                                <a class="dropdown-item" href="edit_book/{{books.bid[j]}}">Edit</a>
                                <!-- <button  class="dropdown-item" value="{{books.bid[j]}}" href="delete_book/{{books.bid[j]}}" style="color: red;" onclick="document.getElementById('id01').style.display='block'">Delete</button> -->
                                <a  class="dropdown-item" href="delete_book/{{books.bid[j]}}" style="color: red;">Delete</a>
                            </div>
                        </div>
                    </div>
                    <!-- {% include'includes/modals/delete_modal.html'%} -->
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
</div>
</div>
{%endblock content%}