{%extends "layout.html"%} {%block content%}
{%include 'pages/page_layout.html'%}
<div class="serach_field-area2">
    <div class="search_inner">
        <form Active="#">
            <div class="search_field">
                <input type="text" placeholder="Search here...">
            </div>
            <button type="submit"> <i class="ti-search"></i> </button>
        </form>
    </div>
</div>
<div class="add_button ml-10">
    <a href="issue_book" data-target="issue_book" class="btn_1">Add New</a>
</div>
</div>
</div>
<!--/ menu  -->
<div class="QA_table ">
    <!-- table-responsive -->
    <table class="table lms_table_active2">
        <thead>
            <tr>
                
                <th scope="col">RID</th>
                <th scope="col">BID</th>
                <th scope="col">UID</th>
                <th scope="col">Issue Date</th>
                <th scope="col">Period</th>
                <th scope="col">Return Date</th>
                <th scope="col">Fine</th>
                <th scope="col">Status</th>
            </tr>
        </thead>
        <tbody>
            {% for j in range(ibooks|length) %}
            <tr>
                <th scope="row">
                    <div class="patient_thumb d-flex align-items-center">
                        <div class="student_list_img mr_20">
                            <img src="{{ url_for('static', filename='images/pataint.png')}}" alt="" srcset="">
                        </div>
                        {{ibooks.rid[j]}}
                    </div>
                </th>
                <td>{{ibooks.bid[j]}}</td>
                <td>{{ibooks.uid[j]}}</td>
                <td>{{ibooks.issuedate[j]}}</td>
                <td>{{ibooks.period[j]}}</td>
                <td>{{ibooks.returndate[j]}}</td>
                <td>{{ibooks.fine[j]}}</td>

                <td>
                    <div class="amoutn_action d-flex align-items-center">
                        <a href="#" class="status_btn">Active</a>
                        <div class="dropdown ml-4">
                            <a class=" dropdown-toggle hide_pils" href="#" role="button" id="dropdownMenuLink"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-ellipsis-v"></i>
                            </a>

                            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuLink">
                                <a class="dropdown-item" href="#">View</a>
                                <a class="dropdown-item" href="#">Edit</a>
                                <a class="dropdown-item" href="#">Delete</a>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
</div>
</div>
{%endblock content%}