{%extends "layout.html"%} {%block content%}
<form method="POST">
    <div class="form-group">

        <label for="bid">RID:</label>
        <select class="default_sel mb_30 w-100" style="display: none;" id='bid' name='bid'>
            <option data-display="Select">Nothing</option>

            {% for j in range(rid|length) %}
            <option value={{rid.rid[j]}}>{{rid.bid[j]}} "["{{rid.name[j]}}"]" "["{{}rid.author[j]}"]"</option>
            {% endfor %}
        </select>
        <div class="nice-select default_sel mb_30 w-100" tabindex="0"><span class="current">Select</span>
            <div class="nice-select-search-box"><input type="text" class="nice-select-search" placeholder="Search...">
            </div>
            <ul class="list">
                <li data-value="Nothing" data-display="Select" class="option selected focus" style="">Nothing</li>

                {% for j in range(bid|length) %}
                <li data-value={{bid.bid[j]}} class="option" style="">{{bid.name[j]}} {{bid.author[j]}}</li>
                {% endfor %}
            </ul>
        </div><br>


        <label for="return_date">return date:</label><br>
        <input type="datetime-local" class="form-control" id="return_date" name="return_date"><br>



    </div>
    <p><input type=submit value=Add class="btn_1">
</form>


{%endblock content%}