{%extends "layout.html"%} {%block content%}
<form method="POST">
    <div class="form-group">

      <label for="name">name:</label><br>
      <input type="text" class="form-control" id="name" name="name"><br>

      <label for="price">price:</label><br>
      <input type="text" class="form-control" id="price" name="price"><br>

      <label for="genre">genre:</label><br>
      <input type="text" class="form-control" id="genre" name="genre"><br>

      <label for="author">author:</label><br>
      <input type="text" class="form-control" id="author" name="author"><br>
  

    </div>
    <p><input type=submit value="Add Book" class="btn_1">
  </form>


{%endblock content%}