{%extends "layout.html"%} {%block content%}
{% for message in get_flashed_messages() %}

<div class="alert alert-success alert-dismissible fade show" role="alert">
    {{message}}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>


{% endfor %}


<form method="POST">
    <div class="form-group">

      <label for="username">Username:</label><br>
      <input type="text" class="form-control" id="username" name="username" required><br>

      <label for="password">Password:</label><br>
      <input type="password" class="form-control" id="password" name="password" required><br>

      <label for ="admin">Admin</label><br>
      <input type="checkbox" class="form-control" id="admin" name="admin" value="true">
  

    </div>
    <p><input type=submit value="Add User" class="btn_1">
  </form>


{%endblock content%}