 <!-- sidebar  -->
 <!-- sidebar part here -->
 <nav class="sidebar">
    <div class="logo d-flex justify-content-between">
        <a href="/index"><img src="{{ url_for('static', filename='images/logo.png')}}" alt=""></a>
        <div class="sidebar_close_icon d-lg-none">
            <i class="ti-close"></i>
        </div>
    </div>
    <ul id="sidebar_menu" class="metismenu">
        <li  class="side_menu_title">
          <a class="has-arrow" href="#" aria-expanded="false">
            <span>Dashboard</span>
          </a>
          <ul class="mm-collapse"">
            <li><a class="active" href="/books">View Books</a></li>
            <li><a class="active" href="/users">View Users</a></li> 
            <li><a class="active" href="/issued_books">View Issued Books</a></li>
            <li><a class="active" href="/return_book">Return Book</a></li>
          </ul>
        </li>
      </ul>
    
  </nav>
<!-- sidebar part end -->
 <!--/ sidebar  -->