 <!-- sidebar  -->
 <!-- sidebar part here -->
 <nav class="sidebar">
    <div class="logo d-flex justify-content-between">
        <a href="/index"><img src="{{ url_for('static', filename='images/logo.png')}}" alt=""></a>
        <div class="sidebar_close_icon d-lg-none">
            <i class="ti-close"></i>
        </div>
    </div>
    <ul id="sidebar_menu" class="metismenu">
        <li class="side_menu_title">
            <span>Dashboard</span>
          </li>
        <li class>
          <a class="has-arrow" href="#" aria-expanded="false">
          <img src="{{ url_for('static', filename='images/1.svg')}}" alt="">
            <span>Dashboard</span>
          </a>
          <ul class="mm-collapse"">
            <li><a class="active" href="books">View Books</a></li> <!-- Active class is the current page. Shows in blue -->
            <li><a class="active" href="users">View Users</a></li> <!-- under views you have add buttons-->
            <li><a class="active" href="issued_books">View Issued Books</a></li>
           <!--  <li><a class="active" href="patients">Issue Book</a></li>
            <li><a class="active" href="pharmacy">Add User</a></li>
            <li><a class="active" href="cashier">Add Book</a></li> -->
            <li><a class="active" href="transactions">Return Book</a></li>
          </ul>
        </li>
        <!-- <li class="side_menu_title">
            <span>Applications</span>
          </li>
        <li class="">
          <a class="has-arrow" href="#" aria-expanded="false">
            <img src="{{ url_for('static', filename='images/2.svg')}}" alt="">
            <span>Pages</span>
          </a>
        </li>-->
      </ul>
    
  </nav>
<!-- sidebar part end -->
 <!--/ sidebar  -->