{%extends "layout.html"%} {%block content%}
<form method="POST">
    <div class="form-group">

      <label for="uid">UID:</label><br>
      <input type="text" class="form-control" id="uid" name="uid" value={{uid.uid[0]}} placeholder={{uid.uid[0]}}><br>

      <label for="username">Username:</label><br>
      <input type="text" class="form-control" id="username" name="username" placeholder={{uid.username[0]}}><br>

      <label for="old_password">Old Password:</label><br>
      <input type="password" class="form-control" id="old_password" name="old_password"><br>

      <label for="new_password">New Password:</label><br>
      <input type="password" class="form-control" id="new_password" name="new_password"><br>

      <label for ="admin">Admin</label><br>
      <input type="checkbox" class="form-control" id="admin" name="admin" checked="true">
  

    </div>
    <p><input type=submit value=Add class="btn_1">
  </form>


{%endblock content%}