{%extends "layout.html"%} {%block content%}
{% for message in get_flashed_messages() %}

<div class="alert alert-success alert-dismissible fade show" role="alert">
    {{message}}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>


{% endfor %}


<form method="POST">
    <div class="form-group">

      <h1><label for="username">{{user.username[0]}}</label><br></h1>

      <label for="uid">UID:</label><br>
      <input type="text" class="form-control" id="uid" name="uid" value={{user.uid[0]}} placeholder={{user.uid[0]}} readonly><br>

      <label for="old_password">Old Password:</label><br>
      <input type="password" class="form-control" id="old_password" name="old_password"><br>

      <label for="new_password">New Password:</label><br>
      <input type="password" class="form-control" id="new_password" name="new_password"><br>

      <label for ="admin">Admin</label><br>
      <input type="checkbox" class="form-control" id="admin" name="admin" checked="true">
  

    </div>
    <p><input type=submit value='Edit User' class="btn_1">
  </form>


{%endblock content%}